{{template "base" .}}

{{define "content"}}

<div class="container">

  <div class="row">
    <h1>Make Reservation</h1>
    <div class="col text-center">

      {{$reservation := index .Data "reservation"}}

      <form action="/make-reservation" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <div class="form-group mt-5">
          <label for="first_name">First Name:</label>
          {{with .Form.Errors.Get "first_name"}}
          <label class="text-danger">{{.}}</label>
          {{end}}
          <input required class="form-control {{with .Form.Errors.Get "first_name"}}is-invalid{{end}}
          " type="text" id="first_name" name="first_name" value="{{$reservation.FirstName}}" autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="last_name">Last Name:</label>
          {{with .Form.Errors.Get "last_name"}}
          <label class="text-danger">{{.}}</label>
          {{end}}
          <input required class="form-control  {{with .Form.Errors.Get "last_name"}}is-invalid{{end}}" type="text"
            id="last_name" name="last_name" value="{{$reservation.LastName}}" autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          {{with .Form.Errors.Get "email"}}
          <label class="text-danger">{{.}}</label>
          {{end}}
          <input required class="form-control  {{with .Form.Errors.Get "email"}}is-invalid{{end}}" type="email"
            id="email" name="email" value="{{$reservation.Email}}" autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="phone">Phone Number:</label>
          {{with .Form.Errors.Get "phone"}}
          <label class="text-danger">{{.}}</label>
          {{end}}
          <input required class="form-control  {{with .Form.Errors.Get "phone"}}is-invalid{{end}}" type="phone"
            id="phone" name="phone" value="{{$reservation.Phone}}" autocomplete="off" />
        </div>

        <hr />

        <button type="submit" class="btn btn-primary">Make Reservation</button>
      </form>

    </div>
  </div>
</div>

{{end}}